@font-face {
    font-family: "icons";
    src: url("./icons.eot?e4e7746df98b92374f8c9f2f46dc19b2?#iefix") format("embedded-opentype"),
url("./icons.woff2?e4e7746df98b92374f8c9f2f46dc19b2") format("woff2"),
url("./icons.woff?e4e7746df98b92374f8c9f2f46dc19b2") format("woff"),
url("./icons.ttf?e4e7746df98b92374f8c9f2f46dc19b2") format("truetype"),
url("./icons.svg?e4e7746df98b92374f8c9f2f46dc19b2#icons") format("svg");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
    content: "\f101";
}
.icon-audio-file:before {
    content: "\f102";
}
.icon-file:before {
    content: "\f103";
}
.icon-folder:before {
    content: "\f104";
}
.icon-mp3-player:before {
    content: "\f105";
}
.icon-open-folder:before {
    content: "\f106";
}
