@font-face {
    font-family: "icons";
    src: url("./icons.eot?3b3ed6b454133d7774cefce674b4b0ea?#iefix") format("embedded-opentype"),
url("./icons.woff2?3b3ed6b454133d7774cefce674b4b0ea") format("woff2"),
url("./icons.woff?3b3ed6b454133d7774cefce674b4b0ea") format("woff"),
url("./icons.ttf?3b3ed6b454133d7774cefce674b4b0ea") format("truetype"),
url("./icons.svg?3b3ed6b454133d7774cefce674b4b0ea#icons") format("svg");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
    content: "\f101";
}
.icon-audio-file:before {
    content: "\f102";
}
.icon-cancel:before {
    content: "\f103";
}
.icon-checked:before {
    content: "\f104";
}
.icon-cloud:before {
    content: "\f105";
}
.icon-delete:before {
    content: "\f106";
}
.icon-edit:before {
    content: "\f107";
}
.icon-file:before {
    content: "\f108";
}
.icon-folder:before {
    content: "\f109";
}
.icon-mp3-player:before {
    content: "\f10a";
}
.icon-music-note:before {
    content: "\f10b";
}
.icon-open-folder:before {
    content: "\f10c";
}
.icon-refresh:before {
    content: "\f10d";
}
.icon-search:before {
    content: "\f10e";
}
.icon-settings:before {
    content: "\f10f";
}
.icon-sort:before {
    content: "\f110";
}
.icon-sync:before {
    content: "\f111";
}
