@font-face {
  font-family: "Oswald";
  src: url("./font/oswald.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
document {
  background: red;
}
body {
  font-family: Oswald;
}
i {
  cursor: pointer;
}
ul {
  color: #fff;
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
  font-size: 0.8em;
}
li {
  padding: 0.5em;
  margin-bottom: 0.125em;
  cursor: pointer;
}
li:hover {
  font-size: 1em;
  /* padding: 0.45em; */
}
li:first-child {
  margin-top: 0.25em;
}
li:nth-child(odd) {
  background-color: #444;
}
li:nth-child(even) {
  background-color: #333;
}
input[type="submit"] {
  background: #538ac5;
  border: 0;
  color: white;
  border-radius: 2px;
  padding: 0.3em;
}
